@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.app-navbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-primary),
  ));
}
.app-icon {
    padding: 0 14px;
}